.Main_AddBike{
    height: max-content;
}

.Section_addbike{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
    background-color: black;
}

.Addbike_Box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 90vw;
    max-width: 1100px;
    min-width: 450px;
    height: 950px;
    border: 5px solid rgb(255, 192, 0);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 10px 0;
}

.addbike_line{
    width: 100%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid orange;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.addbike_line h2{
    font-size: 20px;
    text-align: center;
    min-width: 200x;
}

.addbike_line>input{
    height: 40%;
    margin-left: 10px;
}

.addbike_line>.box_Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    min-width: 100px;
    max-width: 200px;
    height: 100%;
}

.title_img{
    width: 16vw;
    max-width: 150px;
    min-width: 80px;
    height: 16vw;
    max-height: 150px;
    min-height: 80px;
}

.brandBtnLine{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 95vw;
    max-width: 870px;
    min-width: 320px;
    height: 40vw;
    max-height: 230px;
    min-height: 200px;
    box-sizing: border-box;
    padding : 0 20px;
    gap: 5px;
}

.brandBtnLine>label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    min-width: 125px;
    max-width: 175px;
    min-height: 40px;
    overflow-x: hidden;
    text-wrap: nowrap;
    cursor: pointer;
}

.modelBtnLine{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px 10px;
}

.modelBtnLine>label{
    display: flex;
    width: 15vw;
    min-width: 150px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    overflow-x: hidden;
    text-wrap: nowrap;
    cursor: pointer;
}

.bikeImfo_line{
    position: absolute;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.bikeImfo_line>*{
    margin: 0 15px;
}

.bikeImfo_line>h2{
    text-align: center;
    margin: 0;
    width: 100px;
}

.bikeImfoInput{
    width: 100px;
    height: 30px;
    border: 3px solid orange;
    border-radius: 5px;
}

.Addbike_Box > .button_line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
}

.brandBtn, .modelBtn{
    font-size: 20px;
    color: gray;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 5px;
}

.brandBtn:hover,.btn:checked+label, .modelBtn:hover, .Section_addbike h2{
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn{
    display: none;
}

.btn_submit_addbike{
    min-width: 150px;
    min-height: 50px;
    font-size: 20px;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    text-shadow: none;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 3px solid orange;
    border-radius: 5px;
}

.btn_submit_addbike:disabled{
    min-width: 150px;
    min-height: 50px;
    font-size: 20px;
    background-color: black;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
}