.Main_CrewJoinBoard{
    height: max-content;
}

/* 크루 모집 페이지 섹션 */
.Main_CrewJoinBoard>.CrewJoinBoard{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    background-color: black;
}

/* 크루 모집 페이지 h2 폰트 설정 */
.CrewJoinBoard h2{
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

 /* 크루 모집 페이지 클릭 방지용 블럭 */
.CrewJoinBoard>.CrewJoinBoardBlock{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* 크루 신청 체크 박스 */
.CrewJoinBoardBlock>.CrewJoinOk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 200px;
    z-index: 3;
    width: 600px;
    height: 300px;
    background-color: black;
    border: 4px solid orange;
    border-radius: 20px;
}

/* 크루 신청 체크 박스의 OK / 취소 버튼 라인 */
.CrewJoinOk>.CrewJoinOkBtnLine{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 70px;
    gap: 50px;
    input{
        width: 150px;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        border: 0;
    }
    #JoinOkBtn{
        background-image: url("/public/img/crewjoin/RequestBtnOff.png");
    }
    #JoinOkBtn:hover{
        background-image: url("/public/img/crewjoin/RequestBtnOn.png");
    }
    #JoinCancelBtn{
        background-image: url("/public/img/crewjoin/CancelBtnOff.png");
    }
    #JoinCancelBtn:hover{
        background-image: url("/public/img/crewjoin/CancelBtnOn.png");
    }
}

/* 선택된 크루 정보 박스 */
.CrewJoinBoard>.CrewInfoBox{
    width: 75vw;
    max-width: 500px;
    min-width: 440px;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 크루 정보 박스 클릭 방지용 블록 */
.CrewInfoBox>.CrewInfoBox_Block{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid orange;
    border-radius: 20px;
    z-index: 2;
 }

 .CrewInfoBox>.CrewInfoBoxCloseBtn{
     position: absolute;
     width: 50px;
     height: 50px;
     background-size: cover;
     right: 0;
     display: none;
     border: none;
     background-color: rgba(0, 0, 0, 0);
     background-image: url("/public/img/crewmanager/CloseDetailBtnOff.png");
     cursor: pointer;
 }

 .CrewInfoBox>.CrewInfoBoxCloseBtn:hover{
    background-image: url("/public/img/crewmanager/CloseDetailBtnOn.png");
 }

 /* 선택된 크루 정보 박스 탑 */
 .CrewInfoBox>.CrewInfoBox_Top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 20px 0;
}

.CrewInfoBox_Top>.JoinBtnLabel{
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate(200px);
    background-size: cover;
}

/* 선택된 크루 정보 박스 메인 */
.CrewInfoBox>.CrewInfoBox_Main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    border-radius: 10px;
    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 50px;
        }
    }
}

/* 선택된 크루 정보 박스 바텀 */
.CrewInfoBox>.CrewInfoBox_Bottom{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    h1{
        margin: 20px 0;
        text-align: center;
    }
    .CrewContextBox{
        width: 100%;
        border: 2px solid orange;
        border-radius: 10px;
        height: 300px;
        max-height: 300px;
        overflow-y: scroll;
        scrollbar-width: none;
        text-wrap: wrap;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

.CrewJoinBoard{
    .CrewListBox{
        width: 700px;
        margin-top: 20px;
        margin-right: 20px;
        .CrewListBoxt_Top{
            width: 100%;
            height: 80px;
            align-items: center;
            justify-content: center;
            display: flex;
            border: 2px solid orange;
            border-radius: 20px;
            .CrewNameSuchBox{
                margin-left: 10px;
                border-radius: 10px;
                text-align: center;
                background-color: white;
                color: black;
                display: flex;
                width: 240px;
                height: 40px;
            }
            .CrewNameSearchBtn{
                margin-left: 20px;
                margin-right: 10px;
                width: 60px;
                height: 60px;
                border: 0;
                background-color: rgba(255, 255, 255, 0);
                background-image: url("/public/img/crewjoin/SearchBtnOff.png");
                background-size: cover;
                cursor: pointer;
            }
            .CrewNameSearchBtn:hover{
                background-image: url("/public/img/crewjoin/SearchBtnOn.png");
            }

            .selectCity, .selectTown{
                width: 130px;
                height: 60px;
                margin-left: 30px;
                border-radius: 20px;
                text-align: center;
                font-size: 20px;
            }
        }
        .CrewListBox_Section{
            display: flex;
            margin-top: 15px;
            border: 2px solid orange;
            border-radius: 20px;
            width: 100%;
            height: 600px;
            overflow-y: scroll;
            scrollbar-width: none;
            align-items: center;
            flex-direction: column;
            .CrewJoiner{
                display: flex;
                width: 95%;
                margin-top: 20px;
                gap: 15px;
                border: 2px solid gray;
                border-radius: 20px;
                justify-content: center;
                text-align: center;
                .Data{
                    justify-content: center;
                    height: 100px;
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                h2{
                    margin: 0;
                }

            }
            .CrewJoiner:hover{
                cursor: pointer;
                border: 2px solid orange;
            }
        }
    }
}


@media(max-width:1199px) {

    .CrewJoinBoard>.CrewInfoBox{
        display: none;
        position: absolute;
        background-color: black;
        border: 2px solid orange;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .CrewInfoBox.CrewInfoBox_Block{
        display: none;
    }

    .CrewInfoBox>.CrewInfoBoxCloseBtn{
        display: flex;
    }

    .CrewInfoBox_Top>.JoinBtnLabel{
        transform: translate(140px);
    }
}