.DatePicker{
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
    width: 180px;
    min-width: 180px;
    height: 100%;
    box-sizing: border-box;
}

input::placeholder{
    font-size: medium;
}

input::-webkit-input-placeholder {
    font-size: medium;
}

input::-moz-placeholder {
    font-size: medium;
}

input:-ms-input-placeholder {
    font-size: medium;
}

input::-ms-input-placeholder {
    font-size: medium;
}