h1{
    font-size: 45px;
    font-family: Hobo_BT;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

h2{
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}
