.Title{
    display: flex;
    height: 100px;
    align-items: center;
    margin: 25px 0;
}

.Title>img{
    height: 150%;
    margin-left: -40px;
}

.Title>h1{
    font-size: 60px;
    margin-left: 20px;
}