@font-face {
  font-family: Hobo_BT;
  src: url(../css/font-family/Hobo_BT.ttf);
}

body, #root{

  width: max-content;
  height: max-content;
  margin: 0;
 
}

.container{
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

main{
  min-width: 500px;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


header{
  background-image: url(/public/img/Top_img.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 130px;
  min-height: 130px;
}

section{
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  background-color: rgb(92, 92, 92, 0.185);
  color: white;
}

footer{
  display: flex;
  bottom: 0;
  flex-direction: column;
  width: 100%;
  height: 80px;
  min-width: 500px;
  min-height: 80px;
  background-color: rgba(92, 92, 92, 0.185);
}

footer *{
  margin : 0;
  padding-left: 10px;
  font-weight: bold;
  font-family: Hobo_BT;
  background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  
  text-align: center;
  }

footer>h3{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
footer a{
  text-decoration: none;
}

@media (max-width: 700px) {
  footer>h3{
    font-size: 3vw;
  }
}
