@font-face {
  font-family: Hobo_BT;
  src: url(../css/font-family/Hobo_BT.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: black;
}

header{
  background-image: url(/public/img/Top_img.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100px; 
  max-height: 200px;
}

section{
  display: flex;
  position: relative;
  width: 100%;
  background-color: rgb(92, 92, 92, 0.185);
  color: white;
}

footer{
  display: flex;
  position: relative;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  min-width: 640px;
  min-height: 100px;
  background-color: rgba(92, 92, 92, 0.185);
}

footer *{
  margin-bottom: 0;
  padding-left: 10px;
  font-weight: bold;
  font-family: Hobo_BT;
  background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  text-decoration: none;
  text-align: center;
  }
