.Main_MyPage{
    height: max-content;
    width: 100vw;
    min-width: 460px;
    max-width: 1100px;
}

.myPage{
    flex-direction: column;
    height: 600px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page_tile{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.page_tile>h1{
    font-size: 40px;
}

.myInfoLine{
    border-top: 2px dotted orange;
    border-bottom: 2px dotted orange;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: max-content;
}

@media(max-width:1060px){
    .myInfoLine{
        flex-direction: column;
    }
}

.profile{
    width: 75vw;
    max-width: 660px;
    min-width: 460px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 2px dotted orange;
}

.profile_top{
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.profile_section{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.profile_changeLine{
    width: max-content;
    height: max-content;
}

.profile_changeLine>label{
    display: flex;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
}

#profile_changeLine>img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.bikeData{
    display: flex;
    flex-direction: column;
    width: 460px;
    min-width: 460px;
}

.bikeLine, .crewLine{
    width: 560px;
    height: 300px;
    text-align: center;
    border-bottom: 1px dotted orange;
}

.bikeInfo{
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.bikeInfo input{
    display: none;
}

.showBikeBtn{
    width: 25px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("/public/img/mypage/ShowBikeBtn.png");
}

.showBikeBtn:hover{
    cursor: pointer;
}

.showBikeBtn[name='Down']{
    transform: rotate(180deg);
}

.bikeInfoLine{
    position: absolute;
    transform: translateX(30px);
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bikeBoxLine{
    transform: translateX();
    position: absolute;
    width: 800px;
    display: flex;
    gap: 12px;
    transition: 1s;
}

.InfoBox{
    background-size: 155px 155px;
    background-position: 50% 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infobox_Star{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateX(240%) translateY(-35%);
}

.InfoBox div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoBox .bikeDataLine{
    flex-direction: column;
    margin-top: 5px;
    width: 50px;
}

.InfoBox .bikeNameLine{
    width: 150px;
    height: 50px;
}

.InfoBox h4{
    width: 140px;
    margin: 0;
    text-wrap: wrap;
}

.InfoBox .Mypage_brandImg{
    width: 100px;
    height: 100px;
}

.bikeInfo_btnLine{
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 560px;
    height: 70px;
}

.bikeInfo_btnLine input{
    display: none;
}

.bikeInfoBtn{
    width: 100px;
    height: 45px;
    background-size: 100px 45px;
    
}

.bikeInfoBtn:hover{
    cursor: pointer;
}

.riderInfo_left{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 16vw;
    min-width: 160px;
    max-width: 200px;
}

.profile_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 280px;
}

.profile_img_box{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 160px;
    min-width: 160px;
    height: 160px;
    min-height: 160px;
    border-radius: 10%;
    border:3px solid orange;
}
.profile_img_box>img{
    width: 90%;
    height: 90%;
}
.profile_img>h4{
    margin: 0;
    font-size: 14px;
}

.riderInfo_left>h4{
    color: gold;
    margin: 0;
}

#prfile_btnLline>h3{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 160px;
    height: 40px;
    background-color: black;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

#prfile_btnLline>h3:hover{
    cursor: pointer;
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.userAddress_Line{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 140px;
    width: 100%;
    >.userAddress_Line_Top{
        justify-content: center;
        align-items: center;
        display: flex;
        height: 70px;
    }

    >.userAddress_Line_Bottom{
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
.userAddress_Line_Bottom>select{
    border: 2px solid orange;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    font-weight: bolder;
    font-size: smaller;
    width: 10vw;
    height: 50px;
}
.userAddress_Line_Bottom>.selectCity{
    min-width: 60px;
    max-width: 70px;
}
.userAddress_Line_Bottom>.selectTown{
    min-width: 80px;
    max-width: 100px;
}

.userAddress_changeBtnLine{
    position: absolute;
    transform : translateX(100%)
}
.userAddress_changeBtnLine>label{
    display: flex;
    cursor: pointer;

}

.userAddress_changeBtnLine>label>img{
    width: 10vw;
    min-width: 50px;
    max-width: 60px;
    height: 10vw;
    min-width: 50px;
    max-height: 60px;
}

.riderInfo_right{
    width: 72vw;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.riderInfo_right>div{
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.riderInfo_right>div>.info_Box>h2:first-child{
    width: 60vw;
    min-width: 90px;
    max-width: 100px;
}

.riderInfo_right h2{
    text-align: center;
}

.profile_inputLine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
}

[name='changeGender']{
    padding-top: 15px;
}

.saveBtn_Line{
    padding: 0;
    width: 80px;
    height: 80px;
}

.saveBtn_Line img{
    width: 80px;
    height: 80px;
}

.saveBtn_Line *:hover{
    cursor: pointer;
}

.profile_inputLine>input{
    font-size: 20px;
    text-align: center;
    width: 180px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#userBirthday{
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.profile_inputLine label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px whitesmoke;
    border: 2px solid gray;
    font-size: 20px;
}

.profile_inputLine>label:hover{
    cursor: pointer;
}

.profile_inputLine>input:checked + label{
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.riderInfo_right h2, .riderInfo_left h2, .crewInfoLine h2, .crewBlockBox h2{
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.crewBlockBox{
    display: flex;
    width: 550px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.crewInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 200px;
    h2{
        display: flex;
        margin: 0;
        width: 250px;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    .crewInfoLine{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}