.myPage{
    flex-direction: column;
    height: 600px;
}

.page_tile{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.page_tile>h1{
    font-size: 40px;
}

.myInfoLine{
    border-top: 2px dotted orange;
    border-bottom: 2px dotted orange;
    border-spacing: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: max-content;
}

.profile{
    width: 50vw;
    max-width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 2px dotted orange;
}

.profile_top{
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.profile_seccsion{
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.profile_changeLine{
    position: absolute;
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 20px;
    width: 100%;
}

.bikeData{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.bikeLine, .crewLine{
    width: 560px;
    height: 300px;
    text-align: center;
    border-bottom: 1px dotted orange;
}

.bikeInfo{
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.bikeInfo input{
    display: none;
}

.showBikeBtn{
    width: 25px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("/public/img/mypage/ShowBikeBtn.png");
}

.showBikeBtn:hover{
    cursor: pointer;
}

.showBikeBtn[name='Down']{
    transform: rotate(180deg);
}

.bikeInfoLine{
    position: absolute;
    transform: translateX(30px);
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bikeBoxLine{
    transform: translateX();
    position: absolute;
    width: 800px;
    display: flex;
    gap: 12px;
    transition: 1s;
}

.InfoBox{
    background-size: 155px 155px;
    background-position: 50% 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infobox_Star{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateX(240%) translateY(-35%);
}

.InfoBox div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoBox .bikeDataLine{
    flex-direction: column;
    margin-top: 5px;
    width: 50px;
}

.InfoBox .bikeNameLine{
    width: 150px;
    height: 50px;
}

.InfoBox h4{
    width: 140px;
    margin: 0;
    text-wrap: wrap;
}

.InfoBox .Mypage_brandImg{
    width: 100px;
    height: 100px;
}

.bikeInfo_btnLine{
    gap: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 560px;
    height: 70px;
}

.bikeInfo_btnLine input{
    display: none;
}

.bikeInfoBtn{
    width: 100px;
    height: 45px;
    background-size: 100px 45px;
    
}

.bikeInfoBtn:hover{
    cursor: pointer;
}

#profile_changeLine>img{
    margin-left: 10px;
    width: 70px;
}

#profile_changeLine>img:hover{
    cursor: pointer;
}

.riderInfo_left{
    margin-left: 20px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_img{
    width: 200px;
    height: 330px;
}

.profile_img_box{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border:3px solid orange;
    
    >img{
        width: 200px;
        height: 200px;
    }
}

.riderInfo_left>h4{
    color: gold;
    margin: 0;
}

#prfile_btnLline>h3{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: black;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
}

#prfile_btnLline>h3:hover{
    cursor: pointer;
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.userAddress_Line{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 140px;
    >.userAddress_Line_Top{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 200px;
        height: 70px;
        label{
            position: absolute;
            transform: translate(100%);
            :hover{
                cursor: pointer;
            }
        }
        img{
            width: 70px;
        }
    }

    >.userAddress_Line_Bottoom{
        height: 70px;
        align-items: center;
        gap: 20px;
        .selectCity, .selectTown{
            border: 2px solid orange;
            border-radius: 10px;
            background-color: gray;
            text-align: center;
            font-weight: bold;
            font-size: 19px;
            
            height: 50px;
        }
        .selectCity{
            width: 80px;
        }
        .selectTown{
            width: 100px;
        }
    }
}

.riderInfo_right, .riderInfo_right>table{
    margin-top: 10px;
    width: 450px;
}

.riderInfo_right tr{
    height: 80px;
    align-items: center;
}

.riderInfo_right h2{
    text-align: center;
    margin: 10px 0;
}

.profile_inputLine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 250px;
}

[name='changeGender']{
    padding-top: 15px;
}

.saveBtn_Line{
    padding: 0;
    width: 80px;
    height: 80px;
}

.saveBtn_Line img{
    width: 70px;
    height: 70px;
}

.saveBtn_Line *:hover{
    cursor: pointer;
}

.profile_inputLine>input{
    font-size: 20px;
    text-align: center;
    width: 180px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#userBirthday{
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.profile_inputLine label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    color: gray;
    text-shadow: 1px 1px whitesmoke;
    border: 2px solid gray;
    font-size: 20px;
}

.profile_inputLine>label:hover{
    cursor: pointer;
}

.profile_inputLine>input:checked + label{
    border: 2px solid orange;
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.riderInfo_right h2, .riderInfo_left h2, .crewInfoLine h2, .crewBlockBox h2{
    text-shadow: none;
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.crewBlockBox{
    display: flex;
    width: 550px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.crewInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 200px;
    h2{
        display: flex;
        margin: 0;
        width: 250px;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    .crewInfoLine{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}