/* 라이더 보드 메인 라인 */

.Main_RiderBoard>.RiderBoard{
    width: 90vw;
    max-width: 1100px;
    min-width: 440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.RiderBoard>.RB_TopLine{
    display: flex;
    width: 100%;
    height: max-content;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
}

.RB_TopLine>.RB_FilterLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: max-content;
    width: 100%;
    position: relative;
}

.RB_FilterLine>div{
    display: flex;
    width: 100%;
    min-width: 440px;
    gap: 10px;
    align-items: center;
}

.RB_FilterLine>.RB_FilterTop{
    gap: 10px;
    height: 70px;
    min-height: 70px;
}

/* 검색어 입력 창 */
.RB_FilterTop>.boardTextBox{
    width: 40%;
    min-width: 250px;
    max-width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

/* 검색 버튼 */
.RB_FilterTop>.boardSearchBtn{
    width: 60px;
    min-width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("/public/img/crewboard/SearchBtnOn.png");
    background-size: 60px 60px;
}

.RB_FilterTop>.boardSearchType{
    width: 100px;
    min-width: 100px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.RB_FilterLine>.RB_FilterBottom{
    justify-content: center;
    height: 60px;
    min-height: 60px;
    gap: 20px;
}

 /* 목록 필터 버튼 */
.RB_FilterBottom>.filterCheckBox{
    width: 14vw;
    min-width: 70px;
    max-width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: rgb(138, 138, 138);
    background-color: rgb(18, 18, 18);
    border: 2px solid rgb(84, 84, 84);
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.RB_FilterBottom>.filterInput:checked+label{
    border: 2px gold solid;
    span{
        background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
        font-weight: bold;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.RB_FilterBottom>.RB_BoardWriteBtn{
    display: none;
    width: 14vw;
    min-width: 100px;
    max-width: 130px;
    height: 50px;
    border: 2px solid gold;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    span{
        background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
        font-size: medium;
        font-weight: bolder;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.RB_TopLine>.RB_BoardWriteBtn{
    width: 100px;
    height: 120px;
    border: 5px solid gold;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    >span{
        background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 25px;
        font-weight: bolder;
    }
}

/* 라이더 보드 목록 영역 */
.RiderBoard>.boardList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    border: 2px solid gold;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}


/* 라이더 보드 목록 헤더 */
.boardList>.boardListHeader{
    width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid gold;
    box-sizing: border-box;
}

/* 텍스트 배치 */
.boardListHeader>h2, .RiderBoardBox>h2{
    display: flex;
    height: 100%;
    margin:0;
    justify-content: center;
    align-items: center;
}

.boardList>.boardListBody{
    width: 100%;
    height: 360px;
    min-height: 360px;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;
}

.boardListBody>div{
    width: 100%;
    .RiderBoardBox{
        gap: 10px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }
}

.boardList>.boardListHeader, .boardListBody>div>.RiderBoardBox{
    .boardNo{
        width: 70px;
        min-width: 70px;
    }
    .boardType{
        width: 120px;
        min-width: 120px;
    }
    .boardTitle{
        width: 380px;
    }
    .boardWriter{
        width: 180px;
    }
    .boardCount{
        width: 100px;
        min-width: 100px;
    }
}

/* 커서 호버 반응 CSS */

.RB_BoardWriteBtn:hover, .boardListBody>div>.RiderBoardBox:hover, 
.RB_FilterBottom>.filterCheckBox:hover{
        box-shadow: inset 2px 2px 10px gray, inset -2px -2px 10px gray;
}
@media(max-width:1050px){

    .RB_FilterLine>.RB_FilterTop{
        justify-content: center;
    }

    .RB_FilterTop>h1{
        display: none;
    }

    .RB_FilterLine>.RB_FilterBottom{
        gap: 10px;
    }

    .RB_FilterBottom>h1{
        display: none;
    }

    .RB_FilterBottom>.RB_BoardWriteBtn{
        display: flex;
    }

    .RB_TopLine>.RB_BoardWriteBtn{
        display: none;    
    }
}

@media(max-width:850px){
    .boardList>.boardListHeader, .boardListBody>div>.RiderBoardBox{
        .boardCount{
            display: none;
        }
    }
}
@media(max-width:700px){
    .boardList>.boardListHeader, .boardListBody>div>.RiderBoardBox{
        .boardWriter{
            display: none;
        }
    }
}