.Main_RiderBoardDetail>.RiderBoardDetail{
    width: 90vw;
    max-width: 1200px;
    min-width: 440px;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
}

/* 게시글 상단 영역 */
.RiderBoardDetail>.PageTopLine{
    display: flex;
    width: 100%;
    height: max-content;
    min-height: 160px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.PageTopLine>.PageTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-width: 300px;
    height: 160px;
    min-height: 160px;
    box-sizing: border-box;
}

.PageTopLine>.BoardTitleLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 320px;
    height: max-content;
    max-height: 230px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 10px;
}

.BoardTitleLine>.TitleTopLine{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    gap: 10px;
}

.TitleTopLine>.BoardWriterInfo{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: max-content;
    min-width: 300px;
    max-width: 420px;
}

.TitleTopLine>.BoardInfoBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    min-width: 300px;
}

.BoardInfoBox>.BoardInfoBox_Top{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    height: max-content;
    text-wrap: nowrap;
    gap: 5px;
}

.BoardInfoBox_Top>.BoardInfoBox_Right{
    display: flex;
    width: max-content;
    height: max-content;
    gap: 5px;
    justify-content: center;
}

.BoardInfoBox_Right>.BoardType_Short{
    display: none;
}

.BoardInfoBox_Right>.boardControl{
    display: flex;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    input{
        display: flex;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0);
        background-size: 40px;
        padding: 0;
        border: none;
        cursor: pointer;
    }
    #boardChangeBtn{
        background-image: url(../../../public/img/ChangeBtnImg.png);
        
    }
    #boardDeleteBtn{
        background-image: url(../../../public/img/DeleteImg.png);
    }
}

.BoardInfoBox>.BoardAddressInfo{
    display: none;
    width: 100%;
    justify-content: right;
    overflow: hidden;
    text-wrap: nowrap;
    cursor: pointer;
}




/* 게시글 내용 영역 */
.RiderBoardDetail>.PageBodyLine{
    width: 100%;
    height: max-content;
    min-height: 200px;
    max-height: 450px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* 게시글 댓글 영역 */
.RiderBoardDetail>.PageCommentLine{
    width: 100%;
    height: max-content;
    min-height: 200px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}

/* 댓글 목록 라인 */
.PageCommentLine>.CommentListLine{
    width: 100%;
    height: max-content;
    min-height: 400px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 댓글 블록 관련 (로딩, 빈 댓글) */
.CommentListLine>.loadingBlock,.CommentListLine>.commentEmptyNote{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
}

/* 댓글 목록 */
.CommentListLine>.CommentList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 10px;
}

/* 댓글 박스 */
.CommentList>.CommentBox{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    gap: 10px;
}

/* 댓글 박스 안에 댓글 정보 영역 (프로필 이미지, 댓글 작성자, 날짜, 댓글 내용 등...) */
.CommentBox>.CommentInfoLine{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    gap: 10px;
}

/* 댓글 */
.CommentInfoLine>.Comment{
    display: flex;
    width: 100%;
    height: max-content;
    max-height: 120px;
    align-items: center;
    gap: 10px;
}

/* 댓글 작성자 프로필 이미지 */
.Comment>.profileImg{
    width: 12vw;
    min-width: 70px;
    max-width: 80px;
    height: 12vw;
    min-height: 70px;
    max-height: 80px;
    border-radius: 10px;
}

/* 댓글 정보 (댓글 내용, 댓글 작성자, 댓글 작성날 등...) */
.Comment>.CommentInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    flex-grow: 1;
}

.CommentInfo>.TopLine, .CommentInfo>.BottomLine{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.CommentInfo>.TopLine>.TopRight{
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: right;
    
    /* 댓글 삭제 또는 수정 관련 버튼 */
    input{
        width: 40px;
        height: 40px;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
    .commentChangeBtn{
        margin-left: 5px;
        background-image: url(../../../public/img/ChangeBtnImg.png);
        
    }
    .commentDeleteBtn{
        background-image: url(../../../public/img/DeleteImg.png);
    }
}

.CommentInfo>.BottomLine{
        .ChangeCommentContext{
            width: 60%;
            height: 80%;
            font-size: 25px;
            font-weight: bold;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .commentBtnLine{
            display: flex;
            gap: 10px;
            label{
                width: max-content;
                border: 2px solid orange;
                border-radius: 10px;
                box-sizing: border-box;
                padding: 5px;
                cursor: pointer;
            }
        }
}

/* 댓글 영역에서 대댓글 입력하는 박스 (댓글 정보 바로 아래) */

.CommentInfoLine>.BoardReplyInsertBox{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

/* 대댓글 작성자 (로그인 유저) */
.BoardReplyInsertBox>h2{
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 130px;
    height: 100%;
}

.BoardReplyInsertBox>.BoardReplyInputLine{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.BoardReplyInputLine>.ReplyContextBox{
    width: 100%;
    height: 40px;
    min-height: 40px;
    font-size: medium;
    padding: 0 10px;
    box-sizing: border-box;
}

.BoardReplyInputLine>.uploadReplyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    width: 60px;
    min-width: 60px;
    height: 35px;
    min-height: 35px;
}

.BoardReplyInputLine>.replyCancelBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: cover;
    background-image: url(../../../public/img/DeleteImg.png);
}

/* 대댓글 목록 영역 */
.CommentBox>.CommentReplyLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 10px;
}

/* 대댓글 박스 */
.CommentReplyLine>.ReplyBox{
    display: flex;
    height: max-content;
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    align-items: center;
    border-top:2px dashed orange;
    box-sizing: border-box;
    gap: 10px;
    .TopLine{
        display: flex;
        width: 100%;
    }
    input{
        width: 40px;
        height: 40px;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
    .commentChangeBtn{
        margin-left: 5px;
        background-image: url(../../../public/img/ChangeBtnImg.png);
        
    }
    .commentDeleteBtn{
        background-image: url(../../../public/img/DeleteImg.png);
    }
    .ReplyChangeUpLabel{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid orange;
        border-radius: 10px;
        width: 110px;
        height: 90%;
    }
}

/* 대댓글 작성자 프로필 이미지 */
.CommentReplyLine>.ReplyBox>.profileImg{
    width: 12vw;
    min-width: 70px;
    max-height: 80px;
    height: 12vw;
    min-height: 70px;
    max-height: 80px;
    border-radius: 10px;
}

.CommentReplyLine>.ReplyBox>.ReplyInfoLine{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    max-width: 120px;
}


.PageCommentLine>.commentInputLine{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    .commentTextBox{
        flex-grow: 1;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .commentUploadBtn{
        width: max-content;
        height: max-content;
        padding: 10px;
        box-sizing: border-box;
        border: 2px solid orange;
        border-radius: 10px;
        cursor: pointer;
    }
}

.commentInputLine>.commentUploadBtn:hover, .commentBtnLine>label:hover, .BoardReplyInputLine>.uploadReplyBtn:hover {
    box-shadow: inset 2px 2px 10px gray, inset -2px -2px 10px gray;
}

@media(max-width:1120px){
    .PageTopLine>.PageTitle{
        display: none;
    }
    
    .BoardInfoBox_Right>.BoardType_Short{
        display: flex;
    }
    .TitleTopLine>.BoardInfoBox{
        max-width: 440px;
    }

}

@media(max-width:850px){
    .BoardTitleLine>.TitleTopLine{
        flex-direction: column;
    }
    .BoardInfoBox>.BoardAddressInfo{
        justify-content: flex-start;
    }

    .BoardInfoBox>.BoardInfoBox_Top{
        justify-content: space-between;
    }

    .commentInputLine>h2{
        display: none;
    }

    .BoardReplyInsertBox>h2{
        display: none;
    }

}