/* 라이더 보드 메인 라인 */

.Main_RiderBoard>.RiderBoard{
    width: 90vw;
    max-width: 1100px;
    min-width: 440px;
    height: 600px;
    border: 2px solid orange;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RiderBoard>.RB_TopLine{
    display: flex;
    width: 100%;
    height: max-content;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
}

.RB_TopLine>.RB_FilterLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: max-content;
    width: 100%;
    position: relative;
}

.RB_FilterLine>div{
    display: flex;
    width: 100%;
    min-width: 440px;
    gap: 10px;
    height: 70px;
    min-height: 70px;
    align-items: center;
}

.RB_FilterLine>.RB_FilterTop{
    gap: 10px;
}

/* 검색어 입력 창 */
.RB_FilterTop>.boardTextBox{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

/* 검색 버튼 */
.RB_FilterTop>.boardSearchBtn{
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("/public/img/crewboard/SearchBtnOn.png");
    background-size: 60px 60px;
}

.RB_FilterTop>.boardSearchType{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.RB_FilterTop>.RB_BoardWriteBtn{
    display: none;
    width: 100px;
    min-width: 100px;
    height: 50px;
    border: 2px solid orange;
    color: goldenrod;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.RB_FilterLine>.RB_FilterBottom{
    gap: 20px;

    /* 목록 필터 버튼 */
    >.filterCheckBox{
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bolder;
        color: rgb(138, 138, 138);
        background-color: rgb(18, 18, 18);
        border: 5px solid rgb(84, 84, 84);
        box-sizing: border-box;
        border-radius: 20px;
        cursor: pointer;
    }
}

.RB_FilterBottom>.filterCheckBox:hover, .RB_FilterBottom>.filterInput:checked+label{
    border: 5px gold solid;
    span{
        background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
        font-weight: bold;
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.RB_TopLine>.RB_BoardWriteBtn{
    width: 100px;
    height: 120px;
    border: 5px solid gold;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.RB_BoardWriteBtn>span{
    background-image: linear-gradient(to right bottom,Orange, Yellow, Orange);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bolder;
}


.RiderBoard{

    /* 라이더 보드 목록 영역 */

    .boardList{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 420px;
        margin-top: 20px;
        box-sizing: border-box;
        border: 2px solid gold;
        overflow: hidden;
        border-radius: 20px;

        /* 텍스트 배치 */
        h2{
            display: flex;
            height: 100%;
            margin:0;
            justify-content: center;
            align-items: center;
        }

        /* 라이더 보드 각 칼럼 사이즈 */
        .boardNo{
            width: 80px;
        }
        .boardType{
            width: 120px;
        }
        .boardTitle{
            width: 380px;
        }
        .boardWriter{
            width: 180px;
        }
        .boardLevel{
            width: 100px;
        }
        .boardCount{
            width: 100px;
        }

        /* 라이더 보드 목록 헤더 */
        .boardListHeader{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            box-sizing: border-box;
            border-bottom: 2px solid gold;
        }
        .boardListBody{
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5px;
            box-sizing: border-box;
            background-color: rgb(17, 17, 17);
            div{
                width: 100%;
                .RiderBoardBox{
                    height: 40px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    cursor: pointer;
                }
                .RiderBoardBox:hover{
                    background-color: black;
                }
            }
            overflow-y: scroll;
            scrollbar-width: none;
            
        }


    }

}

@media(max-width:1200px){
    .RB_FilterTop>h1{
        display: none;
    }

    .RB_FilterTop>.RB_BoardWriteBtn{
        display: flex;
    }

    .RB_TopLine>.RB_BoardWriteBtn{
    display: none;    
    }
}
